
.portada{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

.Tunombre, .Numid, .Escuela, .Edad, .Maestro, .Correo, .Genero, .Numtel, .Nacimiento, .Direccion, .Normas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

.Enviar{
    text-align: center;
}

.Envio{
    width: 150px;
    height: 30px;
}



